#app-root {
  display: flex;
  flex-direction: row;
  width: 92%;
  margin: auto;
}

#left-panel {
  flex: 1 1 auto;
}

#right-panel {
  flex: 1 1 auto;
}

.outer, .inner {
  shape-rendering: crispEdges;
}

.outer {
  fill: none;
  stroke: #000;
}

.inner {
  fill: #ccc;
  stroke: #000;
  stroke-dasharray: 3, 4;
}

.axis line {
  fill: none;
  stroke: #000;
}

.curve {
  fill: none;
  stroke: #000;
}

.molecule {
  opacity: .1;
}

.molecule.selected {
  opacity: 1;
}

.stability-window .outline {
  fill: hsla(0, 100%, 50%, .1);
  stroke: #000;
}
