body, html {
  height: 100%;
}

body {
  margin: auto;
  line-height: 1.6; 
  font-size: 18px;
  color:#444;
  position: relative;
}

body::before, body::after {
  content: ' ';
  display: block;
  width: 100%;
  height: .5em;
  background: hsla(210, 50%, 90%, 1);
  position: absolute;
}

body::before {
  top: 0;
}

body::after {
  bottom: 0;
}

h1, h2, h3 {
  line-height: 1.2;
  margin: 0;
}

#main {
  max-width: 92%;
  margin: auto;
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#app-header {
  flex: 0 1 auto;
  margin-top: 1em;
}

#app-header .info {
  font-size: 70%;
}

#app-body {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: thin solid gray;
}

#panel-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: rows;
}

#left-panel {
  flex: 1 1 60%;
}

#right-panel {
  flex: 1 1 40%;
  padding-left: 1em;
}

.outer, .inner {
  shape-rendering: crispEdges;
}

.outer {
  fill: none;
  stroke: #000;
}

.inner {
  fill: #ccc;
  stroke: #000;
  stroke-dasharray: 3, 4; 
  opacity: 0.5;
}

.axis line {
  fill: none;
  stroke: #000;
}

.axis .axis-title {
  fill: #333;
}

.stability-window {
  fill: hsl(180, 100%, 50%);
  stroke: hsl(180, 100%, 15%);
  opacity: 0.05;
}

.stability-window .outline {
  fill: inherit;
  stroke: inherit;
  stroke-width: 2;
}

.stability-window .points circle {
  fill: inherit;
  r: 3;
}

.molecule {
  opacity: .1;
  transition: opacity .3s;
  stroke: hsl(0, 50%, 50%);
  fill: hsl(0, 50%, 60%);
  opacity: .1;
  cursor: pointer;
}

.red {
  stroke: hsl(0, 50%, 50%);
  fill: hsl(0, 50%, 60%);
}

.blue {
  stroke: hsl(255, 50%, 50%);
  fill: hsl(255, 50%, 60%);
}

.green {
  stroke: hsl(180, 50%, 50%);
  fill: hsl(180, 50%, 60%);
}

.molecule .curve {
  fill: none;
  stroke: inherit;
  stroke-width: 5;
}

.molecule .points circle {
  fill: inherit;
  stroke: inherit;
  r: 4.5;
}

.molecule .tooltip {
  visibility: hidden;
}

.molecule .tooltip .text-bg {
  fill: hsla(0, 0%, 90%, 1);
  stroke: hsla(0, 0%, 65%, 1);
}

.molecule .tooltip.active {
  visibility: visible;
}

.molecule.selected {
  opacity: .6;
}

.molecule:hover {
  opacity: 1.0;
}

#datatable > tbody > tr {
  cursor: pointer;
}
