#app-root {
  display: flex;
  flex-direction: row;
  width: 92%;
  margin: auto;
}

#left-panel {
  flex: 1 1 auto;
}

#right-panel {
  flex: 1 1 auto;
}

.outer, .inner {
  shape-rendering: crispEdges;
}

.outer {
  fill: none;
  stroke: #000;
}

.inner {
  fill: #ccc;
  stroke: #000;
  stroke-dasharray: 3, 4;
}

.axis line {
  fill: none;
  stroke: #000;
}

.stability-window .outline {
  fill: hsla(0, 100%, 50%, .1);
  stroke: hsla(0, 100%, 15%, .1);
  stroke-width: 2;
}

.molecule {
  opacity: .1;
  transition: opacity .3s;
  stroke: hsla(0, 50%, 50%, 1.0);
  fill: hsla(0, 50%, 60%, 1.0);
}

.molecule .curve {
  fill: none;
  stroke: inherit;
  stroke-width: 5;
}

.molecule .points circle {
  fill: inherit;
  stroke: inherit;
  r: 4.5;
}

.molecule .points .text-container {
  visibility: hidden;
}

.molecule .points .point:hover .text-container .text-bg {
  fill: hsla(0, 0%, 90%, 1);
  stroke: hsla(0, 0%, 65%, 1);
}

.molecule .points .point:hover .text-container {
  visibility: visible;
}

.molecule.selected {
  opacity: .6;
}

.molecule:hover {
  opacity: 1.0;
}
